<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trc.model.ActIdGroup">
  <resultMap id="BaseResultMap" type="com.trc.model.ActIdGroup">
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
    <result column="NAME_" jdbcType="VARCHAR" property="name" />
    <result column="TYPE_" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    ID_, REV_, NAME_, TYPE_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_id_group
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_id_group
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trc.model.ActIdGroup">
    insert into act_id_group (ID_, REV_, NAME_, 
      TYPE_)
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.trc.model.ActIdGroup">
    insert into act_id_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="rev != null">
        REV_,
      </if>
      <if test="name != null">
        NAME_,
      </if>
      <if test="type != null">
        TYPE_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trc.model.ActIdGroup">
    update act_id_group
    <set>
      <if test="rev != null">
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE_ = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trc.model.ActIdGroup">
    update act_id_group
    set REV_ = #{rev,jdbcType=INTEGER},
      NAME_ = #{name,jdbcType=VARCHAR},
      TYPE_ = #{type,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="select" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_id_group
  </select>
  
   <insert id="batchInsert"  parameterType="java.util.List">  
	    <selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>  
	    insert into act_id_group (ID_,REV_,NAME_,TYPE_)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id},#{item.rev},#{item.name},#{item.type})  
	    </foreach>  
	</insert>  
  
</mapper>