<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trc.model.ActReProcdef">
  <resultMap id="BaseResultMap" type="com.trc.model.ActReProcdef">
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
    <result column="CATEGORY_" jdbcType="VARCHAR" property="category" />
    <result column="NAME_" jdbcType="VARCHAR" property="name" />
    <result column="KEY_" jdbcType="VARCHAR" property="key" />
    <result column="VERSION_" jdbcType="INTEGER" property="version" />
    <result column="DEPLOYMENT_ID_" jdbcType="VARCHAR" property="deploymentId" />
    <result column="RESOURCE_NAME_" jdbcType="VARCHAR" property="resourceName" />
    <result column="DGRM_RESOURCE_NAME_" jdbcType="VARCHAR" property="dgrmResourceName" />
    <result column="DESCRIPTION_" jdbcType="VARCHAR" property="description" />
    <result column="HAS_START_FORM_KEY_" jdbcType="TINYINT" property="hasStartFormKey" />
    <result column="HAS_GRAPHICAL_NOTATION_" jdbcType="TINYINT" property="hasGraphicalNotation" />
    <result column="SUSPENSION_STATE_" jdbcType="INTEGER" property="suspensionState" />
    <result column="TENANT_ID_" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID_, REV_, CATEGORY_, NAME_, KEY_, VERSION_, DEPLOYMENT_ID_, RESOURCE_NAME_, DGRM_RESOURCE_NAME_, 
    DESCRIPTION_, HAS_START_FORM_KEY_, HAS_GRAPHICAL_NOTATION_, SUSPENSION_STATE_, TENANT_ID_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_re_procdef
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_re_procdef
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trc.model.ActReProcdef">
    insert into act_re_procdef (ID_, REV_, CATEGORY_, 
      NAME_, KEY_, VERSION_, 
      DEPLOYMENT_ID_, RESOURCE_NAME_, DGRM_RESOURCE_NAME_, 
      DESCRIPTION_, HAS_START_FORM_KEY_, HAS_GRAPHICAL_NOTATION_, 
      SUSPENSION_STATE_, TENANT_ID_)
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{deploymentId,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{dgrmResourceName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{hasStartFormKey,jdbcType=TINYINT}, #{hasGraphicalNotation,jdbcType=TINYINT}, 
      #{suspensionState,jdbcType=INTEGER}, #{tenantId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.trc.model.ActReProcdef">
    insert into act_re_procdef
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="rev != null">
        REV_,
      </if>
      <if test="category != null">
        CATEGORY_,
      </if>
      <if test="name != null">
        NAME_,
      </if>
      <if test="key != null">
        KEY_,
      </if>
      <if test="version != null">
        VERSION_,
      </if>
      <if test="deploymentId != null">
        DEPLOYMENT_ID_,
      </if>
      <if test="resourceName != null">
        RESOURCE_NAME_,
      </if>
      <if test="dgrmResourceName != null">
        DGRM_RESOURCE_NAME_,
      </if>
      <if test="description != null">
        DESCRIPTION_,
      </if>
      <if test="hasStartFormKey != null">
        HAS_START_FORM_KEY_,
      </if>
      <if test="hasGraphicalNotation != null">
        HAS_GRAPHICAL_NOTATION_,
      </if>
      <if test="suspensionState != null">
        SUSPENSION_STATE_,
      </if>
      <if test="tenantId != null">
        TENANT_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="deploymentId != null">
        #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="dgrmResourceName != null">
        #{dgrmResourceName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="hasStartFormKey != null">
        #{hasStartFormKey,jdbcType=TINYINT},
      </if>
      <if test="hasGraphicalNotation != null">
        #{hasGraphicalNotation,jdbcType=TINYINT},
      </if>
      <if test="suspensionState != null">
        #{suspensionState,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trc.model.ActReProcdef">
    update act_re_procdef
    <set>
      <if test="rev != null">
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        CATEGORY_ = #{category,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        KEY_ = #{key,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION_ = #{version,jdbcType=INTEGER},
      </if>
      <if test="deploymentId != null">
        DEPLOYMENT_ID_ = #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        RESOURCE_NAME_ = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="dgrmResourceName != null">
        DGRM_RESOURCE_NAME_ = #{dgrmResourceName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      </if>
      <if test="hasStartFormKey != null">
        HAS_START_FORM_KEY_ = #{hasStartFormKey,jdbcType=TINYINT},
      </if>
      <if test="hasGraphicalNotation != null">
        HAS_GRAPHICAL_NOTATION_ = #{hasGraphicalNotation,jdbcType=TINYINT},
      </if>
      <if test="suspensionState != null">
        SUSPENSION_STATE_ = #{suspensionState,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        TENANT_ID_ = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trc.model.ActReProcdef">
    update act_re_procdef
    set REV_ = #{rev,jdbcType=INTEGER},
      CATEGORY_ = #{category,jdbcType=VARCHAR},
      NAME_ = #{name,jdbcType=VARCHAR},
      KEY_ = #{key,jdbcType=VARCHAR},
      VERSION_ = #{version,jdbcType=INTEGER},
      DEPLOYMENT_ID_ = #{deploymentId,jdbcType=VARCHAR},
      RESOURCE_NAME_ = #{resourceName,jdbcType=VARCHAR},
      DGRM_RESOURCE_NAME_ = #{dgrmResourceName,jdbcType=VARCHAR},
      DESCRIPTION_ = #{description,jdbcType=VARCHAR},
      HAS_START_FORM_KEY_ = #{hasStartFormKey,jdbcType=TINYINT},
      HAS_GRAPHICAL_NOTATION_ = #{hasGraphicalNotation,jdbcType=TINYINT},
      SUSPENSION_STATE_ = #{suspensionState,jdbcType=INTEGER},
      TENANT_ID_ = #{tenantId,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="select" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_re_procdef
  </select>
  
 <!--  <resultMap id="pageCount" type="java.lang.Integer">  
    <result column="totalCount" property="totalCount" jdbcType="INTEGER" />  
</resultMap>
  
  <select id="totalCount" resultMap="pageCount">
    	select count(ID_) as totalCount from act_re_procdef
  </select> -->
  
  <select id="totalCount" resultType="java.lang.Integer">
    	select count(ID_) as totalCount from act_re_procdef
  </select>
  
  <sql id="page_Column_List">
    ID_, REV_, CATEGORY_, NAME_, KEY_, VERSION_, DEPLOYMENT_ID_, 
    DESCRIPTION_, HAS_START_FORM_KEY_, HAS_GRAPHICAL_NOTATION_, SUSPENSION_STATE_, TENANT_ID_
  </sql>
  
  <select id="pagination" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    <!-- <include refid="page_Column_List" /> -->
    from act_re_procdef
    LIMIT #{start},#{limit}
  </select>
  
  <select id="selectAllProcDef" resultType="java.util.Map">
    select 
    CONCAT(id_,"-",version_) as id, CONCAT(name_,"(",version_,")") as processName
    from act_re_procdef
    order by name_,version_ desc
  </select>
  
</mapper>