<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trc.model.ProcessType">
  <resultMap id="BaseResultMap" type="com.trc.model.ProcessType">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_type_name" jdbcType="VARCHAR" property="processTypeName" />
    <result column="outer_sys_no" jdbcType="VARCHAR" property="outerSysNo" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_valid" jdbcType="VARCHAR" property="isValid" />
    <result column="last_modify_operator" jdbcType="VARCHAR" property="lastModifyOperator" />
    <result column="last_modify_time" jdbcType="DATE" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, process_type_name, outer_sys_no, description, is_valid, last_modify_operator, 
    last_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from process_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from process_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trc.model.ProcessType">
    insert into process_type (id, process_type_name, outer_sys_no, 
      description, is_valid, last_modify_operator, 
      last_modify_time)
    values (#{id,jdbcType=VARCHAR}, #{processTypeName,jdbcType=VARCHAR}, #{outerSysNo,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{isValid,jdbcType=VARCHAR}, #{lastModifyOperator,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.trc.model.ProcessType">
    insert into process_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="processTypeName != null">
        process_type_name,
      </if>
      <if test="outerSysNo != null">
        outer_sys_no,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="lastModifyOperator != null">
        last_modify_operator,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="processTypeName != null">
        #{processTypeName,jdbcType=VARCHAR},
      </if>
      <if test="outerSysNo != null">
        #{outerSysNo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyOperator != null">
        #{lastModifyOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trc.model.ProcessType">
    update process_type
    <set>
      <if test="processTypeName != null">
        process_type_name = #{processTypeName,jdbcType=VARCHAR},
      </if>
      <if test="outerSysNo != null">
        outer_sys_no = #{outerSysNo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyOperator != null">
        last_modify_operator = #{lastModifyOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trc.model.ProcessType">
    update process_type
    set process_type_name = #{processTypeName,jdbcType=VARCHAR},
      outer_sys_no = #{outerSysNo,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=VARCHAR},
      last_modify_operator = #{lastModifyOperator,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>