<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trc.model.Role">
  <resultMap id="BaseResultMap" type="com.trc.model.Role">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="outer_sys_no" jdbcType="VARCHAR" property="outerSysNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="activiti_group_id" jdbcType="VARCHAR" property="activitiGroupId" />
    <result column="is_valid" jdbcType="VARCHAR" property="isValid" />
    <result column="last_modify_operator" jdbcType="VARCHAR" property="lastModifyOperator" />
    <result column="last_modify_time" jdbcType="DATE" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, outer_sys_no, name, description, activiti_group_id, is_valid, last_modify_operator, 
    last_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trc.model.Role">
    insert into role (id, outer_sys_no, name, 
      description, activiti_group_id, is_valid, 
      last_modify_operator, last_modify_time)
    values (#{id,jdbcType=VARCHAR}, #{outerSysNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{activitiGroupId,jdbcType=VARCHAR}, #{isValid,jdbcType=VARCHAR}, 
      #{lastModifyOperator,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.trc.model.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="outerSysNo != null">
        outer_sys_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="activitiGroupId != null">
        activiti_group_id,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="lastModifyOperator != null">
        last_modify_operator,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="outerSysNo != null">
        #{outerSysNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="activitiGroupId != null">
        #{activitiGroupId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyOperator != null">
        #{lastModifyOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trc.model.Role">
    update role
    <set>
      <if test="outerSysNo != null">
        outer_sys_no = #{outerSysNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="activitiGroupId != null">
        activiti_group_id = #{activitiGroupId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyOperator != null">
        last_modify_operator = #{lastModifyOperator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trc.model.Role">
    update role
    set outer_sys_no = #{outerSysNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      activiti_group_id = #{activitiGroupId,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=VARCHAR},
      last_modify_operator = #{lastModifyOperator,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="select" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
  </select>
  
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where 1=1
    <if test="id != null">
    	and id = #{id}
    </if>
    <if test="outerSysNo != null">
    	and outer_sys_no = #{outerSysNo}
    </if>
    <if test="userName != null">
    	and activiti_group_id = #{activitiGroupId}
    </if>
    <if test="isValid != null">
    	and is_valid = #{isValid}
    </if>
  </select>
  
  <!-- 查询每个用户名对应的最后一个activiti用户 -->
  <select id="selectMaxActivitiGroupId" parameterType="java.lang.String"  resultType="java.util.Map">
    select outer_sys_no outerSysNo,id,activiti_group_id activitiGroupId from role where id = #{id} and is_valid = '1' ORDER BY activiti_group_id DESC LIMIT 1
  </select>
  
  <insert id="batchInsert"  parameterType="java.util.List">  
	    <selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>  
	    insert into role (id,outer_sys_no,name,description,activiti_group_id,is_valid,last_modify_operator,last_modify_time)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id},#{item.outerSysNo},#{item.name},#{item.description},#{item.activitiGroupId},#{item.isValid},#{item.lastModifyOperator},#{item.lastModifyTime})  
	    </foreach>  
	</insert>  
	
	<!-- 查询activiti用户组 -->
	<select id="selectActivitiGroupId" resultMap="BaseResultMap">  
		 select  
		 <include refid="Base_Column_List" />
		 from role 
		 where is_valid = '1' and 
		 id  in  
		 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}  
		 </foreach>  
	</select> 
  
  
</mapper>