<link href="/supply-front/bui/assets/css/dpl-min.css" type="text/css" rel="stylesheet" />
<link href="/supply-front/bui/assets/css/bui-min.css" type="text/css" rel="stylesheet" />
<link href="/supply-front/bui/assets/css/main-min.css" type="text/css" rel="stylesheet" />
<link href="/supply-front/css/common.css" type="text/css" rel="stylesheet" />
<script src="/supply-front/js/jquery-1.9.1/jquery-1.9.1.min.js"></script>
<script src="/supply-front/bui/assets/js/bui-min.js"></script>
<script src="/supply-front/bui/assets/js/config-min.js"></script>
<script src="/supply-front/bui/assets/js/common/main-min.js"></script>
<script src="/supply-front/bui/build/seed-min.js"></script>
<script src="/supply-front/bui/build/sea.js"></script>
<script src="/supply-front/bui/build/config.js"></script>
<script src="/supply-front/js/util/common.js"></script>
