<link type="image/x-icon" rel="icon" href="/supply-front/images/system/favicon.ico"/>
<link href="/supply-front/css/default.css" type="text/css" rel="stylesheet" />
<SCRIPT src="/supply-front/js/jquery-1.9.1/jquery-1.9.1.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="/supply-front/js/util/jquery.base64.js" type="text/javascript"></SCRIPT>
<SCRIPT src="/supply-front/js/util/jquery.cookie.js" type="text/javascript"></SCRIPT>
<script src="/supply-front/js/util/Crypto.js" type="text/javascript"></script>
<script src="/supply-front/js/util/MD5.js" type="text/javascript"></script>
<SCRIPT src="/supply-front/js/util/common.js" type="text/javascript"></SCRIPT>
<SCRIPT src="/supply-front/js/supply/login.js" type="text/javascript"></SCRIPT>
